startup --expand_configs_in_place

build --collect_code_coverage

# Show us information about failures.
build --verbose_failures
test --test_output=errors

# Include git version and other info
build --stamp
build --workspace_status_command tools/get_workspace_status.sh

# Make /tmp hermetic
build --sandbox_tmpfs_path=/tmp

# Ensure that Bazel never runs as root, which can cause unit tests to fail.
build --sandbox_fake_username

test:unit --build_tests_only

# Cross-compile pure Go
build:cross:darwin_amd64 --platforms=@io_bazel_rules_go//go/toolchain:darwin_amd64 --cpu=amd64
build:cross:windows_amd64 --platforms=@io_bazel_rules_go//go/toolchain:windows_amd64 --cpu=amd64
build:cross:linux_amd64 --platforms=@io_bazel_rules_go//go/toolchain:linux_amd64 --cpu=amd64
